h1 {
    color: crimson;
    span {
        font-size: 50px;
    }
}

.success {
    padding: 5px;
    background-color: green;
    border: 1px solid black;
    margin: 5px;
}

.success {
    padding: 5px;
    background-color: red;
    border: 1px solid green;
    margin: 5px;
}